.about {
    padding: 2rem; 
    padding-bottom: 3rem; 
    background-color:#242424; 
}

.about > h1 {
    color: salmon
}

.bio {
    font-size:18px; 
    width: 550px;
    color: salmon; 
}

.contact-info {
    color: #fff; 
    padding-top: 2rem; 
}